<div class="restaurant-header">
  <div class="avatar-xxl">
    <%= image_tag @restaurant.photo, class: "avatar-xxl" %>
  </div>
  <div class="restaurant-menu">

    <h1 class="text-center"><%= @restaurant.name %></h1>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone Number:</strong>
      <%= @restaurant.phone_number %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @restaurant.category %>
    </p>

    <p>
      <strong>Reviews Number:</strong>
      <%= @restaurant.reviews.count %>
    </p>

  </div>


<div id="reviews">
  <h2>Reviews</h2>
  <% if @restaurant.reviews.any? %>
    <div class="container-fluid">
      <div class="row">
        <% @restaurant.reviews.each do |review| %>
          <div class="col-xs-12 col-sm-4">
              <div class="card-description">
                <p><%= review.content %>Rating:<%= review.rating  %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>This restaurant has no reviews yet!</p>
  <% end %>


<div class="container">

  <h1>Create review for <%= @restaurant.name %></h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
  <% end %>
</div>


</div>





<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %>
